div.text {
   color: brown;
}

ul {
   color: olivedrab;
}

img {
   color: orange;
}

div.pink {
   color: pink;
}

div.grey {
   color: grey;
}

.violet {
   color: violet;
}

.green {
   color: green;
}

div.blue {
   color: blue;
}

.green-yellow {
   color: greenyellow;
}

div.peru {
   color: peru;
}